@import "/sass/global/reset";

@for $i from 1 through 50 {

.class-#{$i}{

font-size: 22px+11px ;
color: rgb(247, 191, 86);
} 

}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(178, 107, 150);
  padding: 2rem;
  color: rgb(62, 89, 109);
  margin: auto;
  align-items: center;
}
 