* ,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.saraApp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(248, 158, 41);
    padding: 2rem;
    color: rgb(90, 109, 62);
}
.v1{
    background-color: rgb(179, 189, 164);
    padding: 1rem;
}
.v2{
    background-color: rgb(197, 154, 146);
    padding: 1rem;
    color: rgb(33, 33, 53);
    text-transform: capitalize;
}
.v3{
    background-color: rgb(107, 85, 107);
    padding: 1rem;
    color: grey;
}
