* ,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: unset;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1%;
}
li{
    padding: 1%;
}
input{
    outline: none;
    border: none;
    padding: 0.4rem;
    border-radius: 0.8rem;
    color: orange;
    font-weight: 700;
    /* font-size: 22px; */
}
.saraApp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(248, 158, 41);
    padding: 2rem;
    color: rgb(90, 109, 62);
}
.v1{
    background-color: rgb(179, 189, 164);
    padding: 1rem;
}
.v2{
    background-color: rgb(197, 154, 146);
    padding: 1rem;
    color: rgb(33, 33, 53);
    text-transform: capitalize;
}
.v2 input {
background-color: rgb(97, 76, 76);
}

.v3{
    background-color: rgb(107, 92, 107);
    padding: 1rem;
    color: rgb(209, 187, 187);
}
.v4{
    text-transform: capitalize;
    background-color: rgb(253, 155, 98);
    padding: 1rem;
    color: rgb(131, 168, 168); 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.v4 p{
    color: red;
    font-weight: 300;
    font-size: 13px;
}
.v4 span{
    color: rgb(40, 107, 26);
    font-size: 19px;
}

.v5{
    background-color: grey;
    color: violet;
    font-size: 22px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    margin: 1rem auto;
    border-radius: 2rem;
}
